@charset "EUC-KR";
/* Reply list */
.reply-list {
  margin-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #e9e9e9;
}

.reply-list li {
  padding: 20px 0;
  border-top: 1px solid #e9e9e9;
}

.reply-list li:after {
  display: block;
  clear: both;
  content: '';
}

.reply-list li .thumb {
  float: left;
  width: 10%;
  text-align: center;
}

.reply-list li .thumb img {
  border-radius: 50%;
}

.reply-list li .reply-content {
  float: right;
  width: 90%;
}

.reply-list li .reply-content:after {
  display: block;
  clear: both;
  content: '';
}

.reply-list li .reply-content ul {}

.reply-list li .reply-content ul li {
  border: 0;
  padding: 0;
}

.reply-list li .reply-content .info {
  float: left;
}

.reply-list li .reply-content .info li {
  display: inline-block;
}

.reply-list li .reply-content .info li.date {
  font-size: 0.75em;
  color: #bbb;
}

.reply-list li .reply-content .control {
  float: right;
}

.reply-list li .reply-content .control li {
  display: inline-block;
  margin-right: 10px;
}

.reply-list li .reply-content .control li a {
  color: #ff8149;
  font: normal 0.75em 'NanumBarunGothic', 'Noto Sans', sans-serif;
}

.reply-list li .reply-content .control li a .fa {
  color: #ff8149;
}

.reply-list li .reply-content .control li a.reply-url,
.reply-list li .reply-content .control li a.reply-url .fa {
  color: #999;
}

.reply-list li .reply-content .control li a.reply-modify,
.reply-list li .reply-content .control li a.reply-modify .fa {
  color: #ed145b;
}

.reply-list li .reply-content .text {
  clear: both;
  padding: 10px 0 0;
  color: #777;
  font: normal 0.875em 'NanumBarunGothic', 'Noto Sans', sans-serif;
  line-height: 1.5em;
}

/* @ 비밀글 */
.reply-list li.rp_secret .reply-content .text {
  color: #999;
}

/* @ 일반 */
.reply-list li.rp_general {}

/* @ 관리자 */
.reply-list li.rp_admin .reply-content .nickname a {
  color: #ff8149;
}

/* Reply Form */