#day {
	border : 1px solid black;
	width : 100px;
	height : 100px;
	display : inline;
}
.NM0 {
	border : 1px solid black;
	border-width : 10px
	width : 1fr;
	height : 1fr;
}
.NM1 {
	border : 1px solid black;
	width : 1fr;
	height : 1fr;
} 
.NM2 {
	border : 1px solid black;
	width : 1fr;
	height : 1fr;
} 

.NM3 {
	border : 1px solid black;
	width : 1fr;
	height : 1fr;
} 
.NM4 {
	border : 1px solid black;
	width : 1fr;
	height : 1fr;
} 

