<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>초등 커뮤니티 - 로그인</title>
<script defer src="./js/modal.js"></script>
<script defer src="./js/schoolSearch.js"></script>
<link rel="stylesheet" href="./css/modal.css">
<link rel="stylesheet" href="./css/schSearch.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="./css/LoginStyle.css" type="text/css">

<!-- <script defer src="./js/login.js"></script> -->


</head>

<body class="bg-gradient-primary">

	<!-- icon -->
	<div th:replace="common/brandIcon:: brandIcon"></div>

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">



			<!-- 회원가입 폼 -->

			<div class="container" id="container">
				<div class="form-container sign-up-container" id="app">
				
					<!-- <form th:action="@{./signup}" method="post" modelAttribute="userDTO"> -->
					<form id="frm" modelAttribute="userDTO">

						<h1>Create Account</h1>
						<!-- 
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
       -->

						<span>or use your email for registration</span>

						<div class="idbtn">
							<input class="inptid" type="text" id="accountid" name="id" th:value="${userDTO.id}" placeholder="아이디"  />
							<button class="idchkbutton" type="button" id="idcheckBtn">중복확인</button>
						</div>
						<span id="idcheck"></span> 
						<span id="CheckValue" type="hidden"></span> 
						
						<span th:text="${valid_id}"></span>
						
						<input type="password" id="accountpwd" name="pwd" placeholder="비밀번호" /> 
						<span th:text="${valid_pwd}"></span>
							
						<div class="emailbtn">
      						<input class="inptemail" type="email" id="accountemail" name="email" th:value="${userDTO.email}" placeholder="Email"  />
	  						<button class="SendMailBtn" type="button" id="checkEmail">인증번호받기</button>
						</div>
						<div class="ConfirmNumberdiv">
      						<input class="ConfirmNumber" type="text" id="InputNumber" placeholder="ConfirmNumber" />
	  						<button class="ConfirmNumberlBtn" type="button" id="Confirm">인증하기</button>
						</div>
						
							<span id ="Confirmcheck" style="color:red"></span>
							<span id="CheckMailValue" type="hidden"></span>

							<input type="text" id="accounname" name="name" th:value="${userDTO.name}" placeholder="이름"  />
							<span th:text="${valid_name}"></span>


						<!-- 모달@ㅉㄴㅃ@@@@@@@@@@@@@@@@@ㅃ@ㅃ@ㅃㅃ@ㅃ@ㅃ@ㅃ@ㅃ@ㅃ@ㅃ@ㅃㅃ@@ㅃㅃ@@ㅃ@@@@ -->
						<!-- 시도교육청 코드 -->
						<input class="d-none" type="text" id="ATPT_OFCDC_SC_CODE_SIGN" name="educationCode" size="20" value="" th:value="${userDTO.educationCode}"  >
						<!-- 시도교육청 이름 -->
						<input type="text" id="ATPT_OFCDC_SC_NM_SIGN" name="education" placeholder="교육청" size="20" value="" th:value="${userDTO.education} " readonly >
						 
						<!-- 학교 코드 -->
						<input class="d-none" type="text" id="SD_SCHUL_CODE_SIGN" name="schoolCode" size="20" value="" th:value="${userDTO.schoolCode}" >
						<!-- 학교 이름 -->
						<input type="text" id="SCHUL_NM_SIGN" name="school" placeholder="학교" size="20" value="" th:value="${userDTO.school}" readonly >
							
						<span th:text="${valid_education}"></span>
						
						<div class="profile">
							<select class="selg" id="userGrade" name="usergrade" >
								<option value="" selected>학년 선택</option>
								<option value="1">1학년</option>
								<option value="2">2학년</option>
								<option value="3">3학년</option>
								<option value="4">4학년</option>
								<option value="5">5학년</option>
								<option value="6">6학년</option>
							</select>
							<select class="selc" id="userClass" name="userclass" >
								<option value="" selected>반 선택</option>
								<option value="1">1반</option>
								<option value="2">2반</option>
								<option value="3">3반</option>
								<option value="4">4반</option>
								<option value="5">5반</option>
								<option value="6">6반</option>
								<option value="7">7반</option>
								<option value="8">8반</option>
								<option value="9">9반</option>
								<option value="10">10반</option>
								<option value="11">11반</option>
								<option value="12">12반</option>
								<option value="13">13반</option>
								<option value="14">14반</option>
								<option value="15">15반</option>
								<option value="16">16반</option>
								<option value="17">17반</option>
								<option value="18">18반</option>
								<option value="19">19반</option>
								<option value="20">20반</option>
							</select>
						</div>
						
						<button id="modalBtn" class="btn">학교선택</button>



						<button class="signup_btn" type="button" id="CrmsignUp">Sign Up</button>
				

					</form>
				</div>
				<div class="modal-box">
					<dialog class="modal" id="schModal">
					<body class="modal_body">
						<button style="float: right;" id="closeModal"
							class="btn close-button">x</button>
						<h2>학교 찾기</h2>
						<select id="ATPT_OFCDC_SC_CODE">
							<option value="B10">서울특별시교육청</option>
							<option value="C10">부산광역시교육청</option>
							<option value="D10">대구광역시교육청</option>
							<option value="E10">인천광역시교육청</option>
							<option value="F10">광주광역시교육청</option>
							<option value="G10">대전광역시교육청</option>
							<option value="H10">울산광역시교육청</option>
							<option value="I10">세종특별시교육청</option>
							<option value="J10">경기도교육청</option>
							<option value="K10">강원특별자치도교육청</option>
							<option value="M10">충청북도교육청</option>
							<option value="N10">충청남도교육청</option>
							<option value="P10">전라북도교육청</option>
							<option value="Q10">전라남도교육청</option>
							<option value="R10">경상북도교육청</option>
							<option value="S10">경상남도교육청</option>
							<option value="T10">제주특별자치도교육청</option>
						</select>
						<input type="text" id="SCHUL_NM" size="20">
						<button id="sheet-search-button" href="#" class="btn_A">검색</button>

						<div class="SCH_NM" id="SCH_Name"></div>
					</body>
					</dialog>
				</div>

				<!-- 모달@ㅉㄴㅃ@@@@@@@@@@@@@@@@@ㅃ@ㅃ@ㅃㅃ@ㅃ@ㅃ@ㅃ@ㅃ@ㅃ@ㅃ@ㅃㅃ@@ㅃㅃ@@ㅃ@@@@ -->

				<!-- 로그인 폼 -->

				<div class="form-container sign-in-container" id="app">

					<form action="./login" method="post">

							<!--  #################### 로그인 ############################ -->

						<h1>Sign in</h1>
						<div class="social-container">
							<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
							<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
						</div>


						<span>use your account</span> 
						<input type="text" id="id" name="id" placeholder="아이디입력" /> 
						<input type="password" id="pwd" name="pwd" placeholder="비밀번호 입력" /> 
						<span th:value="${loginFail}"></span> 
						
						<a href="findPassword">Forgot your password?</a>

						<button class="signin_btn" type="submit" id="login">Sign In</button>
						
					</form>
					
				</div>
				<div class="overlay-container">
					<div class="overlay">
						<div class="overlay-panel overlay-left">
							<h1>Welcome Back!</h1>
							<p>To keep connected with us please login with your personal
								info</p>
							<button class="ghost" id="signIn">Sign In</button>
						</div>
						<div class="overlay-panel overlay-right">
							<h1>Hello, Friend!</h1>
							<p>Enter your personal details and start journey with us</p>
							<button class="ghost" id="signUp">Sign Up</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	
	<script th:inline="javascript">
    
	</script>

	<script type="text/javascript">
  //#################### 템플릿 ############################
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
    		container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
    		container.classList.remove("right-panel-active");
    });
    
    // #################### 로그인 ############################
      
    // #################### 회원가입 ############################
    
    $("#CrmsignUp").on("click", function () {
  		let formData = $("#frm").serialize(); // 폼 데이터 직렬화
  		
  		if($("#CheckValue").val() != 'true'){
  			
  			console.log("아이디 체크"+$("#CheckValue").val());
  			alert("아이디를 다시 확인해주세요");
  			
  		}else if($("#CheckMailValue").val() != 'true'){
  			
  			console.log("이메일 체크"+$("#CheckMailValue").val());
  			alert("인증번호가 일치 하지 않습니다.");
  			
  		}else{
  			
  		$.ajax({
    		url: "http://localhost:8088/app/signup",
    		type: "post",
    		data: formData, // 직렬화한 폼 데이터를 전송
    		success: function (data) {
      		if (data.trim() === 'YES') {
      			swal("가입 완료!", "초등 커뮤니티에 오신것을 환영합니다!", "success").then((OK) => {
        		      if(OK) {
          				container.classList.remove("right-panel-active");
        		      }
      			})
      		} else {
      			swal("가입 실패!", "작성란을 다시한번 확인해주세요!", "failed").then((OK) => {
      		      if(OK) {
        				container.classList.remove("right-panel-active");
      		      }
    			})
      		}
    		},
    		error: function () {
      		alert('에러 발생');
    		}
  		});
       }
	});

    
  $(document).ready(function() {
    	
    	$("#idcheckBtn").click(function() {
    		$.ajax({
    			url:"http://localhost:8088/app/getId",
    			type:"post",
    			data:{"id":$("#accountid").val() },
    			success:function( msg ){
    				//alert('success')
    				//alert(msg);
    				if(msg.trim()=='OK'){
    					$("#idcheck").html("이 아이디는 사용 가능합니다.");
    					$("#accountid").val( $("#accountid").val());
    					$("#CheckValue").val("true");
    					document.getElementById('accountid').readOnly = true;
    					
    				}else{
    					$("#idcheck").html("이 아이디는 사용중입니다.");
    					$("#accountid").val("");//삭제
    					$("#accountid").focus(); //다시 입력하라고 커서가 뜬다.
    					$("#CheckValue").val("false");
    				}	
    			},
    			error:function(){
    				alert('error');
    			}
    		});
    		
    	});
    	
  });
  
  
    	
  $("#checkEmail").click(function () {
      let email = $("#accountemail").val(); 
    
          $.ajax({
              type: "POST",
              url: "http://localhost:8088/app/ConfirmEmail",
              data: { "email": email },
              success:function( msg ){
  				if(msg.trim()=='OK'){
  					
  					swal("발송 완료!", "입력하신 이메일로 인증번호가 발송되었습니다.", "success").then((OK) => {
  						$("#InputNumber").focus();
  				  });
  					
  				}else{
  					swal("발송 실패!", "이미존재하는 이메일입니다.", "error").then((OK) => {
  						$("#accountemail").focus();
    				});
  				}	
  			},
  			error:function(){
  				alert('error');
  			}
              
          })
  });
  
  $("#Confirm").click(function () {
      let InputNumber = $("#InputNumber").val();
      $.ajax({
          type: "GET",
          url: "http://localhost:8088/app/ConfirmCheck",
          data: { "InputNumber": InputNumber },
          success: function (res) {
        	  console.log(res)
              if (res['check']) {
                  $('#Confirmcheck').html('<p style="color:gray">인증완료</p>');
                  $("#CheckMailValue").val("true");
                  document.getElementById('accountemail').readOnly = true;
                  document.getElementById('InputNumber').readOnly = true;

              } else {
                  $('#Confirmcheck').html('<p style="color:red">인증번호가 일치하지 않습니다.</p>');
                  $("#CheckMailValue").val("false");
              }
          }
      })
  })

  
  
    
    </script>
    

</body>

</html>