<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>
    <script defer src="../static/js/schedule.js"></script>
    <script defer src="../static/js/calendar.js"></script>
    <link rel="stylesheet" href="../static/css/calendar.css">
</head>
<body>

<div class='rap'>
    <div class="header">
        <div class="btn prevDay"></div>
        <h2 class='dateTitle'></h2>
        <div class="btn nextDay"></div>
    </div>

    <div class="dataInfoWrap"></div>

    <div class="grid dateHead">
        <div class="date">일</div>
        <div class="date">월</div>
        <div class="date">화</div>
        <div class="date">수</div>
        <div class="date">목</div>
        <div class="date">금</div>
        <div class="date">토</div>
    </div>

    <div class="grid dateBoard"></div>
</div>

</body>
</html>