<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="./js/modal.js"></script>
    <script defer src="./js/schoolSearch.js"></script>
    <link rel="stylesheet" href="./css/modal.css">
    <link rel="stylesheet" href="./css/schSearch.css">

    <title>초등 커뮤니티 - 시간표</title>

	<script defer src="./js/tableframe.js"></script>
    <script defer src="./js/timetable.js"></script>
    <link rel="stylesheet" href="./css/timetable.css">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="common/slideBar :: slideBar"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="common/topBar::topBar"></nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">학사일정</h6>
                        	<div class="card-body">
                        		<div class="rap">
									<div class="header">
									
										<!-- option => style="display:none;" -->
<!-- 시도교육청 코드 -->
<input type="text" id="ATPT_OFCDC_SC_CODE_SIGN" size="20" value="">
<!-- 시도교육청 이름 -->
<input type="text" id="ATPT_OFCDC_SC_NM_SIGN" size="20" value="">
<!-- 학교 코드 -->
<input type="text" id="SD_SCHUL_CODE_SIGN" size="20" value="">
<!-- 학교 이름 -->
<input type="text" id="SCHUL_NM_SIGN" size="20" value="">
	<button id="modalBtn" class="btn">모달 테스트</button>

<div>dd?</div>

<div class = "modal-box">
<dialog class="modal" id="schModal">
	<body class="modal_body">
  <button style="float:right;" id="closeModal" class="btn close-button">x</button>
  <h2>학교 찾기</h2>
  <select id="ATPT_OFCDC_SC_CODE">
  <option value = "B10">서울특별시교육청</option>
  <option value = "C10">부산광역시교육청</option>
  <option value = "D10">대구광역시교육청</option>
  <option value = "E10">인천광역시교육청</option>
  <option value = "F10">광주광역시교육청</option>
  <option value = "G10">대전광역시교육청</option>
  <option value = "H10">울산광역시교육청</option>
  <option value = "I10">세종특별시교육청</option>
  <option value = "J10">경기도교육청</option>
  <option value = "K10">강원특별자치도교육청</option>
  <option value = "M10">충청북도교육청</option>
  <option value = "N10">충청남도교육청</option>
  <option value = "P10">전라북도교육청</option>
  <option value = "Q10">전라남도교육청</option>
  <option value = "R10">경상북도교육청</option>
  <option value = "S10">경상남도교육청</option>
  <option value = "T10">제주특별자치도교육청</option>
  </select>
  <input type="text" id="SCHUL_NM" size="20">
  <a id="sheet-search-button" href="#" class="btn_A">검색</a>
  
  <div class="SCH_NM" id="SCH_Name"></div>
</body>
	<button class="button close-button">x</button>
</dialog>
</div> 
                        	
                        	</div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="common/topBar :: logoutModal"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>