<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<title>시간표</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>
    <script defer src="./js/timetable.js"></script>
    <link rel="stylesheet" href="./css/timetable.css">
   
</head>
<body>

<div class="dataInfoWrap"></div>
<caption>▶   강의 시간표  ◀</caption>
  <div></div>
  <div class="A" id="day">월</div>
  <div class="B" id="day">화</div>
  <div class="C" id="day">수</div>
  <div class="D" id="day">목</div>
  <div class="E" id="day">금</div>
  <div class="time"></div>
  
</body>
</html>