<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<title>시간표</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>
    <script defer src="./js/tableframe.js"></script>
    <script defer src="./js/timetable.js"></script>
    <link rel="stylesheet" href="./css/timetable.css">
   
</head>
<body>
    <div class="header">
            <div class="btn prevDay">◀</div>
<h2> 학급 시간표  </h2>
        <div class="btn nextDay">▶</div>
        </div>
<div class="dataInfoWrap"></div>
  <div class="d_table">
  <div>교시</div>
  <div class="day" id="A">월</div>
  <div class="day" id="B">화</div>
  <div class="day" id="C">수</div>
  <div class="day" id="D">목</div>
  <div class="day" id="E">금</div>
  </div>
  <div class="time"></div>
  
  
</body>
</html>