<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>초등 커뮤니티 - 관리자 - 게시판목록</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    
    	<!-- Post Style -->
	<link rel="stylesheet" th:href="@{/Post/css/default.css}" />
    <link rel="stylesheet" th:href="@{/Post/css/common.css}" />
    <link rel="stylesheet" th:href="@{/Post/css/content.css}" />
    <link rel="stylesheet" th:href="@{/Post/css/button.css}" />

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="/common/slideBar :: slideBar"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="common/topBar::topBar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">게시글 작ㄴ정</h6>
                    </div>
                    <div class="card-body">

                        <div id="dataTable_Wrapper" class="dataTables_wrapper dt-bootstrap4">

								
								<!-- table -->
                            <div class="row">
                                <div class="col-sm-12">
                                	<div style="padding-top: 10px; padding-bottom: 10px;">
											<div class="content">
												<section>
													<table class="tb tb_row">
														<colgroup>
															<col style="width: 10%;" />
															<col style="width: 23%;" />
															<col style="width: 10%;" />
															<col style="width: 23%;" />
														</colgroup>
														<tbody>
															<form name="write-form" action="./write" autocomplete="off" method="post">
															<tr>
																<th scope="row">케테고리</th>
																	<td th:text="${categoryId}"></td>
																	<input th:type="hidden" id="categoryId" name="categoryId" th:value="${categoryId}">
																<th scope="row">이름</th>
																<td th:text="${User.name}"></td>
															</tr>
															<tr>
																<th scope="row">제목</th>
																<td colspan="3">
																	<input type="text" class="form-control" id="title" maxlength='30' name="title"
																		 placeholder="제목을 입력하세요"> &nbsp;최대 30자
																</td>
															</tr>
															<tr>
																<!-- 내용 -->
																<td colspan="4">
																	<textarea class="form-control" style="height: 30em; width: 100%;" maxlength='1000'
																		id="content" name="content" ></textarea> 
																	<input type="submit" id="submiBtn" class="btn btn-outline-primary mr-2" value="작성">
																</td>
															</tr>
															</form>
														</tbody>
													</table>
												</section>
											</div>
											
										</div>

                                </div>
                            </div>
                            <!-- end table -->

                        </div>
                        <!-- dataTable_Wrapper -->
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="common/topBar :: logoutModal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

</body>

</html>